{% extends 'usuarios/base.html'%}

{% block aba %}Contatos{%endblock%}
{% block titulo %}Contatos{%endblock%}
{% block conteudo %}
<hr>
<div >
    <div class="card-body p-4 p-sm-5">
        <ul style="list-style-type: none;">
            <li><strong>Instagram:</strong> <a href="#">@bookloop.oficial</a></li>
            <li><strong>E-mail:</strong> <a href="#">contato@bookloop.com.br</a></li>
            <li><strong>Facebook:</strong> <a href="#">facebook.com/bookloop.oficial</a></li>
            <li><strong>WhatsApp:</strong> <a href="#">(69) 9 9123-4567</a></li>
            <li><strong>X:</strong> <a href="#">@bookloop</a></li>
        </ul>
    </div>
</div>
{% endblock %}