{% extends 'usuarios/base.html'%}

{% block aba %}Sobre{%endblock%}
{% block titulo %}Sobre{%endblock%}
{% block conteudo %}

<hr>
  <div >
        <div class="card-body p-4 p-sm-5">
            <p>O <strong>BookLoop</strong> é um site dedicado ao <strong>cadastro de livros</strong>, onde os usuários podem registrar suas obras literárias, facilitando a organização e o acesso a informações sobre os livros que possuem. Nossa plataforma permite que os leitores mantenham um catálogo pessoal de suas leituras, promovendo a cultura literária e a troca de conhecimento.</p>

            <h4>O Que Fazemos?</h4>
            <p>O BookLoop oferece uma interface simples e intuitiva para que os usuários possam cadastrar seus livros, adicionar detalhes como autor, gênero e sinopse, e acompanhar suas leituras de forma prática.</p>

            <h4> Nossa Missão</h4>
            <p>Acreditamos que a leitura é uma experiência enriquecedora e que cada livro tem uma história a contar. Nosso objetivo é proporcionar uma plataforma onde os leitores possam registrar suas obras e compartilhar suas experiências literárias.</p>

            <p>Junte-se a nós e comece a catalogar seus livros no BookLoop!</p>
 
        </div>
    </div>
    
{% endblock %}