{% extends 'usuarios/base.html'%}

{% block aba %}Visualizar Livros{%endblock%}
{% block titulo %}Visualizar Livros{%endblock%}
{% block conteudo %}
<h3>
    Visualização de Livros registradas
</h3>
<hr>

<form action="{% url 'visualizar' %}" method="POST">
    {% csrf_token %}

    <div class="filter">
        <label for="nomeLivro"> Filtrar por livro:</label>
        <select name="livro">
            <option >Todos os Livros</option>
            {% for campo in lista_livros %}
                <option >{{ campo.livro }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-sm" style="background-color: #0c98a5; color: #ffffff;">Filtrar</button>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-striped"> 
        <tr>
            <th>Usuário</th>
            <th>Nome do Livro</th>
            <th>Autor</th>
            <th>Gênero</th>
            <th>Editora</th>
            <th>Número de Páginas</th>       
        </tr>
        {% for campo in lista_livros %}
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{campo.livro}}</td>
                <td>{{campo.nome_autor}}</td>
                <td>{{campo.nome_genero}}</td>
                <td>{{campo.nome_editora}}</td>
                <td>{{campo.num_paginas}}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">Nenhum registro encontrado.</td>
            </tr>
        {% endfor %}
    </table>
</div>
<hr>
{%endblock%}